/*!*body {*!*/
    /*!*!*background-color: #bbae72;*!*!*/
    /*!*font-family: Verdana, Helvetica, Arial, sans-serif;*!*/
    /*!*line-height: 125%;*!*/
    /*!*padding: 0;*!*/
    /*!*margin: 0;*!*/
    /*!*background-image: url("../img/guessnum.png");*!*/
/*!*}*!*/

/*!*h1 {*!*/
    /*!*color: #3f250d;*!*/
    /*!*font-family: 'Lobster', cursive;*!*/
    /*!*font-size: 30px;*!*/
    /*!*font-weight: normal;*!*/
    /*!*line-height: 48px;*!*/
    /*!*margin: 0 0 18px;*!*/
    /*!*text-shadow: 1px 0 0 #fff;*!*/
    /*!*border-bottom: 1px solid darkorange;*!*/
/*!*}*!*/

/*!*h1:hover {*!*/
    /*!*background-color: black;*!*/
    /*!*color: darkorange;*!*/
    /*!*border-width: 3px;*!*/
/*!*}*!*/

/*#tagline p {*/
    /*font-style: italic;*/
    /*font-family: Georgia, Times, serif;*/
    /*background-color: #bed8f3;*/
    /*border-top: 3px solid #7da5d8;*/
    /*border-bottom: 3px solid #7da5d8;*/
    /*padding-top: .2em;*/
    /*padding-bottom: .2em;*/
    /*padding-left: .8em;*/
    /*margin: 0;*/
/*}*/

/*!*#header {*!*/
    /*!*position: absolute;*!*/
    /*!*border-top: 3px solid darkorange;*!*/
    /*!*width: 100%;*!*/

/*!*}*!*/

#bodycontent {
    position: absolute;
    left: 335px;
    top: 250px;
    padding-top: .4em;
    padding-left: 1em;
    color: black;

}

/*#navigation2 {*/
    /*position: absolute;*/
    /*left: 300px;*/
    /*top: 350px;*/
    /*width: 120px;*/
    /*height: 115px;*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*font-size: 14px;*/
    /*padding: 3px 10px;*/
    /*background-color: #ff6600;*/
    /*border-radius: 5px;*/
    /*float: right;*/
    /*font-family: ‘Courier New’, Courier, monospace;*/

/*}*/

/*#postcontent {*/
    /*position: absolute;*/
    /*left: 660px;*/
    /*top: 350px;*/
    /*width: 120px;*/
    /*height: 115px;*/
    /*color: black;*/
    /*font-weight: bold;*/
    /*font-size: 14px;*/
    /*padding: 3px 10px;*/
    /*background-color: #ff6600;*/
    /*border-radius: 5px;*/
    /*float: right;*/
    /*font-family: ‘Courier New’, Courier, monospace;*/
/*}*/

/*!*}*!*/

/*#serverResponse {*/
    /*position: absolute;*/
    /*top: 400px;*/
    /*left: 455px;*/
    /*width: 200px;*/
    /*background-color: floralwhite;*/
    /*color: black;*/
    /*padding-left: .8em;*/
/*}*/

#timer {
    position: absolute;
    top: 475px;
    background-color: #4c813e;
    left: 485px;
    width: 100px;
    color: black;
    padding-left: .8em;

}

#footer {
    position: fixed;
    bottom: 0;
    left: 388px;
    width: 100%;
    color: #3c4b21;}



/*#form {*/

    /*color: #000;*/

/*}*/